<div class="card mb-2">
  <div class="card-header bg-dark text-white">
    <h5><i class="far fa-chart-bar"></i> Estadísticas</h5>
  </div>
  <div class="card-body">
    <p><i class="fas fa-images"></i> Imágenes: {{sidebar.estadisticas.imagenes}}</p>
    <p><i class="fas fa-comments"></i> Comentarios: {{sidebar.estadisticas.comentarios}}</p>
    <p><i class="fas fa-eye"></i> Vístas: {{sidebar.estadisticas.vistas}}</p>
    <p><i class="fas fa-heart"></i> Me gustas: {{sidebar.estadisticas.meGustas}}</p>
  </div>
</div>